@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Roboto Condensed', sans-serif;
  h1,
  h2,
  h3 {
    color: #222222;
  }
  p {
    font-size: 18px;
    color: #4a4a4a;
    /* margin-bottom: 1rem !important; */
    
  }
  
  .paragraph-height{
    margin-bottom: 1rem !important;
    color: #4a4a4a !important;
    
  }
}
.section-with-margin {
  margin-top: 230px; 
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 20px solid #4a4a4a;
  border-bottom: 15px solid transparent;
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 20px solid #E8E8E8;
  border-bottom: 15px solid transparent;
}

.triangle-red {
  border-left: 20px solid #E8E8E8;
}

/* Custom CSS for the triangle */
/* .triangle-right {
  position: relative;
  background: #E8E8E8; */
/* }

.triangle-right:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-top: 200px solid transparent;
  border-bottom: 200px solid transparent;
  border-left: 200px solid white;
} */




.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
}

#talkbubble {
  width: 200px;
  height: 80px;
  background: #E8E8E8;
  position: relative;
  transition: background-color 0.3s, color 0.3s;
  margin: 0 auto; /* Center align the talk bubble */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#talkbubble:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #E8E8E8;
  opacity: 0; /* Hide the pseudo-element initially */
  transition: opacity 0.3s, border-top-color 0.3s;
}

#talkbubble:hover,
#talkbubble button:hover,
#talkbubble button:focus,
#talkbubble button[aria-selected="true"] {
  background: #222222;
  color: white !important;
}

#talkbubble:hover:before,
#talkbubble button:hover:before,
#talkbubble button:focus:before,
#talkbubble button[aria-selected="true"]:before {
  opacity: 0; /* Show the pseudo-element on hover or when active */
  border-top-color: #222222;
}

#talkbubble button {
  width: 100%;
  height: 100%;
  background: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}

#talkbubble button:hover,
#talkbubble button:focus,
#talkbubble button[aria-selected="true"] {
  background: #222222  !important;
  color: white;
}

#talkbubble button:focus {
  outline: none;
}

.selected {
  background: #222222;
  color: white;
}



.talkbubble-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px; /* Space between talk bubbles */
}

.talkbubble-container button:hover {
  background: #222222;
}


/* excerpt content */

.post-content {
  max-height: 4* 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.post-content-title {
  height: 5em !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical !important;
}



@media(min-width:769px)  {
.text-6xl {
  font-size: 3rem  !important;
  line-height: 1 !important;
}
.lg\:text-6xl {
  font-size: 3rem !important  ;
  line-height: 1;
}
}

@media (max-width:767px){
  .hover\:bg-gray-100:hover {
    
    background-color: transparent !important;
}
}



/* Wordpress Backend All post custom class */
.wp-a-link {
  color: red !important;
}

.slide {
  display: flex !important;
  justify-content: center;
  align-items: stretch;
}

.slide div {
  height: 100%;
}

.slide img {
  height: 220px;
  object-fit: cover;
  width: 100%;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  padding: 2px;
  text-align: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.nextArrow {
  right: 1px;
}

.prevArrow {
  right: 50px;
}
  

.tab-button {
  padding: 15px;
  margin: 5px;
  border: none;
  cursor: pointer;
  color: #000;
  background-color: #e0e0e0;
  transition: background-color 0.3s, color 0.3s;
  width: 190px !important;
}

.tab-button:hover {
  background-color: #222222;
  color: white;
}

.tab-button.active {
  background-color: #222222;
  color: white;
}


.custom-dot-list .react-multi-carousel-dot button {
  background-color: transparent;
  border-color: white;
}

.custom-dot-list .react-multi-carousel-dot--active button {
  background-color: #F40F34; /* Change to your preferred active color */
}

.custom-arrow .react-multiple-carousel__arrow--left,
.custom-arrow .react-multiple-carousel__arrow--right {
  background-color: transparent; 
  color: #ffffff;
}

.custom-arrow .react-multiple-carousel__arrow--left::before,
.custom-arrow .react-multiple-carousel__arrow--right::before {
  color: #F40F34;
}

#triangle-right {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 20px solid #E8E8E8;
  border-bottom: 20px solid transparent;
  position: absolute;
  /* right: 0; */
  left: 0; /* Align to the right */
  top: 50%; /* Center vertically */
  transform: translateY(-50%);
  
}



.contact-text{
  font-size: 12px !important;
}

.bk{
  font: 10px !important;
}